/* Nouveau style.css avec un thème clair et harmonieux */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDE0D4;
    color: #333333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #B0BEC5;
    color: #333333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8D6E63;
}

section {
    padding: 20px;
    flex: 1;
    margin-top: 20px;
}

.hero {
    background-color: #8D6E63;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

footer {
    background-color: #B0BEC5;
    color: #333333;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

h1, h2, h3 {
    color: #8D6E63;
}

.container {
    margin-top: 20px;
}

.carousel-container {
    width: 80%;
    margin: 0 auto;
}

.carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

#btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #8D6E63;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#btn-back-to-top:hover {
    background-color: #6D4C41;
}

.accordion-toggle {
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding: 0 15px;
}

.accordion-content.open {
    max-height: 500px; /* Ajustez selon le contenu */
    padding: 10px 15px;
}

.simulation-section img, .sport-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
