/* Existant */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Couleur de fond mise à jour pour une meilleure apparence */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #343a40; /* Couleur du texte mise à jour pour une meilleure lisibilité */
}

header {
    background-color: #343a40; /* Couleur mise à jour pour correspondre à la palette Bootstrap */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #555;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

section {
    padding: 20px;
    flex: 1;
    margin-top: 20px; /* Ajout de marge supérieure pour espacement */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

.carousel-container {
    width: 60%; /* Ajustez la largeur comme vous le souhaitez */
    margin: 0 auto; /* Centre le carousel */
}

.carousel {
    margin-bottom: 20px; /* Ajoute une marge inférieure de 20px */
}

.carousel-item img {
    height: 300px; /* Hauteur ajustée pour des images plus petites */
    width: 100%; /* Assure que l'image prend toute la largeur du conteneur */
    object-fit: contain; /* Assure que l'image n'est pas coupée */
}

footer {
    background-color: #343a40; /* Couleur mise à jour pour correspondre à la palette Bootstrap */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px; /* Ajoute une marge supérieure de 20px */
}

/* Nouveau */
header .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

h1, h2, h3 {
    color: #007bff; /* Couleur mise à jour pour correspondre à la palette Bootstrap */
}

.container {
    margin-top: 20px;
}

.nav-link {
    font-size: 1.1rem;
    margin: 0 10px;
}

.simulation-section {
    border-left: 5px solid #007bff; /* Ajout d'une bordure colorée pour chaque section */
    border-radius: 5px; /* Coins arrondis pour un effet plus doux */
}

.list-group-item a {
    text-decoration: none;
    color: #007bff;
}

.list-group-item a:hover {
    text-decoration: underline;
}

/* Bouton "Retour en Haut de Page" */
#btn-back-to-top {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #007bff; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 18px; 
}

#btn-back-to-top:hover {
    background-color: #555; 
}

/* Styles pour l'accordéon */
.accordion-toggle {
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}

.accordion-content {
    display: none; /* Les contenus sont masqués par défaut */
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.simulation-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.sport-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
